@page
@model SistemInformaticPensiune.Pages.Facilitati.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Facilitati</h1>

<p>
    <a class="btn btn-primary fw-bold" asp-page="Create">Create New</a>
</p>

<div class="table-container">
<table class="table-custom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facilitate[0].NumeFacilitate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facilitate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeFacilitate)
            </td>
            <td>
                        <a class="link-custom link-animated" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="link-custom link-animated" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a class="link-custom link-animated" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
